@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital@1&family=Neucha&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0px;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0px;
    font-size: 35px;
  }
}
